<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/_widget/personal_info') %>
  <%- partial('_partial/navbar') %>
  <div id="container">
      <%- partial('_partial/aside')%>
      <section id="main"><%- body %></section>
  </div>
<%- partial('_partial/footer')%>
</body>
</html>
