<div id="personal_info">
    <div>
        <span class="community" hidden>
        <img src="<%= theme.avatar %>" alt="avatar">
        <% if (theme.github) {%>
            <a href="<%= theme.github%>"><i class="icon-github"></i></a>
        <% } %>
        <% if (theme.jianshu) {%>
            <a href="<%= theme.jianshu%>"><i class="icon-jianshu"></i></a>
        <% } %>
        <% if (theme.juejin) {%>
            <a href="<%= theme.juejin%>"><i class="icon-juejin"></i></a>
        <% } %>
        <% if (theme.csdn) {%>
            <a href="<%= theme.csdn%>"><i class="icon-csdn"></i></a>
        <% } %>
        <% if (theme.cnblog) {%>
            <a href="<%= theme.cnblog%>"><i class="icon-cnblog"></i></a>
        <% } %>
        </span>
        <i class="arrow-show"></i>
    </div>
</div>
